@model IEnumerable<ReversiMvcApp.Models.Game>

@{
    ViewData["Title"] = "Home";
}

<div class="w-75 mx-auto">
    <h3>Reversi</h3>
    <a asp-action="Index" asp-controller="Games">Games</a>

</div>

