@{
    ViewData["Title"] = "Play";
}

@section Scripts {
<link rel="stylesheet" href="~/css/index.css" />
<script type="module" src="~/js/vendor.js"></script>
<script type="module" src="~/js/index.js"></script>
}

<h1>Play</h1>

<div class="grid">
    <div class="grid__row" data-row="1">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="2">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="3">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="4">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="5">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="6">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="7">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
    <div class="grid__row" data-row="8">
        <div class="grid__column" data-column="1"></div>
        <div class="grid__column" data-column="2"></div>
        <div class="grid__column" data-column="3"></div>
        <div class="grid__column" data-column="4"></div>
        <div class="grid__column" data-column="5"></div>
        <div class="grid__column" data-column="6"></div>
        <div class="grid__column" data-column="7"></div>
        <div class="grid__column" data-column="8"></div>
    </div>
</div>
