*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body {
//     background-color: #1d1818;
//     background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
//     /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
// }

// .navbar {
//     // background-color: #000000;
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//     // background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
// }

.widget {
    border-radius: 1rem;
    position: relative;
    transition: opacity 300ms ease-in-out;

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &__content {
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: 1rem;
        color: #1a1a1a;
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    &__buttons button:first-child {
        margin-right: 0.5rem;
    }
}
.wrapper {
    display: grid;
    place-items: center;
    position: relative;
}

#stats {
    position: absolute;
    max-width: 250px;
    max-height: 40%;
    right: -10rem;
    top: 1rem;
}

.grid {
    --size: 80px;
    --gap: 2px;
    --bg-color: #00bb00;
    --filter: 95%;
    display: grid;
    grid-template-rows: repeat(8, var(--size));
    gap: var(--gap);
    overflow: hidden;
    width: max-content;
    background-color: #000;
    border: 8px solid #363636;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.59);

    &__row {
        display: grid;
        grid-template-columns: repeat(8, var(--size));
        gap: var(--gap);
    }

    &__row:nth-child(even) &__column:nth-child(even),
    &__row:nth-child(odd) &__column:nth-child(odd) {
        --bg-color: #008100;
        background-color: var(--bg-color);
        box-shadow: inset 1px 1px 3px 2px rgba(255, 255, 255, 0.5);

        &:hover {
            filter: brightness(var(--filter));
        }
    }

    &__column {
        box-shadow: inset 1px 1px 3px 2px rgba(255, 255, 255, 0.3);
        background-color: var(--bg-color);
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: all 100ms linear;

        .fiche {
            --padding: 20px;
            border-radius: 50%;
            width: calc(var(--size) - var(--padding));
            height: calc(var(--size) - var(--padding));
            box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.21);

            &--black {
                background-color: #272525;
            }
            &--white {
                background-color: #fff;
            }
        }

        &--available {
            filter: brightness(var(--filter));
        }
        &:hover {
            filter: brightness(var(--filter));
        }
    }
}

@media screen and (max-width: 630px) {
    .widget__container i {
        display: none;
    }
    html,
    body {
        font-size: 8px;
    }
}

.results {
    &__content {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
    }
    &__score {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-transform: uppercase;
            font-weight: bold;
        }

        span {
            font-size: 2rem;
            font-variant-numeric: normal;
        }
        p {
            font-size: 2rem;
        }
    }
}
