*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.widget {
  border-radius: 1rem;
  position: relative;
  transition: opacity 300ms ease-in-out;
}
.widget__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.widget__content {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.widget__text {
  margin-left: 1rem;
  color: #1a1a1a;
}
.widget__buttons {
  display: flex;
  justify-content: end;
}
.widget__buttons button:first-child {
  margin-right: 0.5rem;
}

.grid {
  --size: 80px;
  --gap: 2px;
  --bg-color: #00bb00;
  --filter: 95%;
  display: grid;
  grid-template-rows: repeat(8, var(--size));
  gap: var(--gap);
  overflow: hidden;
  width: max-content;
  background-color: #000;
  border: 8px solid #363636;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.59);
}
.grid__row {
  display: grid;
  grid-template-columns: repeat(8, var(--size));
  gap: var(--gap);
}
.grid__row:nth-child(even) .grid__column:nth-child(even), .grid__row:nth-child(odd) .grid__column:nth-child(odd) {
  --bg-color: #008100;
  background-color: var(--bg-color);
  box-shadow: inset 1px 1px 3px 2px rgba(255, 255, 255, 0.5);
}
.grid__row:nth-child(even) .grid__column:nth-child(even):hover, .grid__row:nth-child(odd) .grid__column:nth-child(odd):hover {
  filter: brightness(var(--filter));
}
.grid__column {
  box-shadow: inset 1px 1px 3px 2px rgba(255, 255, 255, 0.3);
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 100ms linear;
}
.grid__column .fiche {
  --padding: 20px;
  border-radius: 50%;
  width: calc(var(--size) - var(--padding));
  height: calc(var(--size) - var(--padding));
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.21);
}
.grid__column .fiche--black {
  background-color: #272525;
}
.grid__column .fiche--white {
  background-color: #fff;
}
.grid__column--available {
  filter: brightness(var(--filter));
}
.grid__column:hover {
  filter: brightness(var(--filter));
}

@media screen and (max-width: 630px) {
  .widget__container i {
    display: none;
  }

  html,
body {
    font-size: 8px;
  }
}